body{
  text-align: center;
display:flex;
}

h2{
  text-align: center;
}

header{
  background-color: lightslategrey;
padding: 35px;
}
h3{
  border: 1px solid;
}
 p{
   margin-top: 50px;
 }
.contact{
  background-color: black;
  color:white;
}
